
@{
    ViewBag.Title = "My Subscriptions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row" ng-init="refreshNews()">

    <!-- Newsfeed Common Side Bar Left
    ================================================= -->
    <div class="col-md-3 static" ng-init="updateBoxInfo()">
        <div class="profile-card" ng-if="UserProfileBoxInfo.Name">
            <img src="~/images/acct/{{UserProfileBoxInfo.ProfilePic}}" alt="user" class="profile-photo" />
            <h5><a href="timeline.html" class="text-white">{{UserProfileBoxInfo.Name}}</a></h5>
            <a class="text-white"><i class="ion ion-android-person-add"></i> {{UserProfileBoxInfo.Followers}} followers</a>
        </div><!--profile card ends-->
        <ul class="nav-news-feed">
            <li><i class="icon ion-ios-paper"></i><div>@Html.ActionLink("News Feed", "Index", new { Controller = "Home", area = "Common" })</div></li>
        </ul><!--news-feed links ends-->

    </div>

    <div class="col-md-7">

        
        <div id="loading" style="display:none;">
            <img src="~/images/loading.gif" />
        </div>
        <!-- Post Content
        ================================================= -->
        
        <div class="friend-list" ng-controller="MySubscriptionController" ng-init="getSubList()">
            <div class="row">
                <div class="col-md-6 col-sm-6" dir-paginate="sl in SubscriptionList | itemsPerPage : 10">
                    <div class="friend-card">
                        <img src="~/images/subwindow.png" alt="profile-cover" class="img-responsive cover" />
                        <div class="card-info">
                            <img src="~/images/acct/{{sl.Feed_ID.ProfilePic}}" alt="user" class="profile-photo" />
                            <div class="friend-info">
                                <a href="#" ng-click="UnSubscribe(sl.Feed_ID.ID, 'btnUnS'+ sl.Feed_ID.ID)" id="#btnUnS{{sl.Feed_ID.ID}}" class="pull-right text-green">Unsubscribe</a>
                                <h5><a href="timeline.html" class="profile-link">{{sl.Feed_ID.Name}}</a></h5>
                                <p>{{sl.Feed_ID.UserName}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <dir-pagination-controls max-size="3"
                                         direction-links="true"
                                         boundary-links="true"></dir-pagination-controls>
            </div>
            
        </div>

    </div>

    <!-- Newsfeed Common Side Bar Right
    ================================================= -->
    <div class="col-md-2 static">
        <div class="suggestions" id="sticky-sidebar" ng-controller="SuggestionsController" ng-init="getSuggestionList()">
            <h4 class="grey">Who to Follow</h4>

            <div class="follow-user" ng-repeat="us in WhotoFollow">
                <img src="~/images/acct/{{us.ProfilePic}}" alt="" class="profile-photo-sm pull-left" />
                <div>
                    <h5><a href="timeline.html">{{us.Name}}</a></h5>
                    <a href="#" ng-click="Subscribe(us.ID, '#fa' + us.ID)" id="fa{{us.ID}}" class="text-green">Add friend</a>
                </div>
            </div>

        </div>
    </div>
</div>

